
*{
padding: 0;
margin: 0;
box-sizing: border-box;
color: hsl(0, 0%, 100%);
}

body {

background-color: hsl(0, 0%, 7%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    width: 100%;
    max-width: 90vw;
    padding: 2rem;
    background-color: gray;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 2rem;
}
.stat_header {
    display: flex;
    gap: 3rem;
    padding: 1rem 2rem;
    justify-content: space-around
}
.stat {
    display: flex;
    gap: 1rem;
}
.difficulty {
    display: flex;
    gap: 1rem;
}
.mode {
    display: flex;
    gap: 1rem;
}
.typing_test_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    flex: 1
}

.typing_test {
    font-size: 2rem;
}

.restart_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: hsl(240, 3%, 46%);
    align-self: center;
}
.restart_btn img{
    height: 1rem;
    width: 1rem;
}
.restart_btn button{
    padding: 0.5rem;
    background-color: inherit;

}

/* .difficulty label input{
    display: none;
} */

/* Results PAGE CSS */

.resultHeader{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: hsl(0, 0%, 15%);
    width: 100%;
}

.reusltSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 60vw;
    padding: 2rem;
}

.reusltSection h3{
    font-size: 2rem;
}

.reusltSection p{
    font-size: 1rem;
}

.scoreCard{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 1rem;
    
}

.scoreCardItem{
 border: 1px solid hsl(0, 0%, 15%);
 padding: 0.75rem;
 box-shadow: 0 0 0.5rem hsl(0, 0%, 15%);

}